@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* font + color */
* {
	font-family: Iosevka !important;
	background-color: #242321 !important;
	color: #efe6eb !important;
}

/* Hide toolbar buttons */
.toolbarbutton-1:not(#PanelUI-menu-button), #page-action-buttons {
	display: none !important;
}

/* one bar */
.titlebar-placeholder:not([type="pre-tabs"]) {
	display: none !important;
}

#TabsToolbar, #nav-bar {
	height: 32px !important;
}

#TabsToolbar {
	margin-right: calc(60vw) !important;
}

#nav-bar {
	margin-left: 40vw !important;
	margin-top: -32px !important;
	margin-right: 0px !important;
}

#urlbar {
	border: none !important;
}

toolbarspring{
	display: none !important;
}

#navigator-toolbox, #navigator-toolbox::after {
	border-bottom: 0px !important;
}